@font-face {
	font-family: 'Vibur'; 
	src: url(../Vibur-Regular.ttf); 
}
.avatar{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
.nickname{
    color: white;
}
.neon-text {
    font-size: 18px;
    font-family: "Vibur";
    background-color: #010a01;    
    color: #fff;
    text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #f09,
      0 0 82px #f09,
      0 0 92px #f09,
      0 0 102px #f09,
      0 0 151px #f09;
    font-size: 40px;
  }

@keyframes pulsate {
    
  100% {

      text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px #f09,
      0 0 80px #f09,
      0 0 90px #f09,
      0 0 100px #f09,
      0 0 150px #f09;
  
  }
  
  0% {

    text-shadow:
    0 0 4px #fff,
    0 0 10px #fff,
    0 0 18px #fff,
    0 0 38px #f09,
    0 0 73px #f09,
    0 0 80px #f09,
    0 0 94px #f09,
    0 0 140px #f09;

}}
.menu{
  display: flex;
}
.menu a{
  height: 40px;
  margin: 10px;
  line-height: 43px;
  padding: 0 40px;
  display: flex;
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  border-radius: 5px;
}
.menu a:hover{
  color: #fff;
  background-color: #333;
  box-shadow: inset 0px 2px 4px rgb(74,14,51), 
              inset 0px 4px 8px rgb(74,14,51), 
              inset 0px 8px 16px rgb(74,14,51);
  transition: 0.2s;
  transform: translateY(2px);
}
/*Home*/