body{
    background-color: black;
    color: white;
    height: 100vh;
}
.div_reg{
    height: 90%;
}
.form{
    width: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    flex-direction: column;
}
textarea{
    width: 100px;
}